*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #edede9;
    color: #463f3a;
    padding: 20px;
}

#main {
    text-align: center;
    margin-top: 80px;
    width: 80%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d5bdaf;
}

#title {
    font-size: 2.5em;
    margin-top: 40px;
    color: #4a2c2a;
}

#image {
    background: #f5ebe0;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    display: block;
}

.tribute-info{
    text-align: left;
    max-width: 800px;
    margin: 20px auto;
    background-color: #f5ebe0;
    padding: 30px;
    border-radius: 20px;
}

.tribute-info h2 {
    text-align: center;
    margin-bottom: 50px;
    color: #4a2c2a;
}

.tribute-info button {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #d5bdaf;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
    
.tribute-info button:hover {
    background-color: #c4a69a;
}

.tribute-info a {
    text-decoration: none;
    color: inherit;
}