*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #edede9;
    color: #463f3a;
    padding: 20px;
}

#main {
    text-align: center;
    margin-top: 80px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #d5bdaf;
}

#title {
    font-size: 2.5em;
    margin-top: 40px;
    color: #4a2c2a;
}

#image {
    background: #f5ebe0;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
}

.timeline{
    text-align: left;
    max-width: 800px;
    margin: 20px auto;
    background-color: #f5ebe0;
    padding: 30px;
    border-radius: 10px;
}

.timeline h2 {
    text-align: center;
    margin-bottom: 50px;
    color: #4a2c2a;
}